html {
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.25;
}

body {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

html, body {
    height: 100%;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 4rem;
    margin-top: auto;
    padding: 0 2.5rem;
}

.footer__list {
    display: flex;
    align-items: baseline;
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__copyright {
    margin-left: auto;
    font-size: .75rem;
    color: #858585;
}